<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>My AngularJS App</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="content/app.css">
</head>
<body ng-app="myApplication" ng-cloak>
<div ng-controller="HomeCtrl">
    <div pesho-information search="pesho"></div>
    <div pesho-information search="gosho"></div>
    <div pesho-information search="ivan"></div>
    <form name="registrationForm">
        <input type="text" required placeholder="First name" ng-model="user.firstName"/>
        <input type="text" ng-pattern="/^[0-9]{1,7}$/" placeholder="Last name" ng-model="user.lastName"/>
        <input type="text" placeholder="Age" ng-model="user.age"/>
        <button ng-click="register(user, registrationForm )">Resgister</button>
    </form>
  </div>

  <ul>
      <li>
          <a href="/#/pesho">Pesho</a>
      </li>
      <li>
          <a href="/#/gosho">Gosho</a>
      </li>
  </ul>

  <div pesho-information></div>

  <div ng-view></div>

  <footer ng-controller="FooterCtrl">
      {{footer}} {{author}}
  </footer>

  <div ng-include="'app/views/partials/gosho.html'"></div>

  <script src="libs/angular.js"></script>
  <script src="libs/angular-route.js"></script>
  <script src="libs/angular-resource.js"></script>
  <script src="app/app.js"></script>
  <script src="app/controllers/HomeCtrl.js"></script>
  <script src='app/controllers/FooterCtrl.js'></script>
  <script src='app/controllers/PeshoCtrl.js'></script>
  <script src='app/services/data.js'></script>
  <script src="app/services/randomNumber.js"></script>
  <script src='app/filters/statusFilter.js'></script>
  <script src='app/directives/peshoDirective.js'></script>
</body>
</html>
